<header id="header">
  <div class="top-header">
    <div class="align-items-center container d-flex justify-content-between ">
      <ul class="row">
        <li class="d-flex align-items-center">
          <a href="#">Agent Login</a>
        </li>
        <li class="d-flex align-items-center">
          <a href="#">Customer Login</a>
        </li>
      </ul>
      <ul id="ul-social" class="row ">
        <li class="d-flex align-items-center">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="d-flex align-items-center">
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="d-flex align-items-center">
          <a href="#"><i class="fab fa-tumblr"></i></a>
        </li>
        <li class="d-flex align-items-center">
          <a href="#"><i class="fab fa-pinterest"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <div class="align-items-center container d-flex justify-content-between">
      <a href="Travel-agency.html">
        <img
          src="static/assets/voyage.jpeg"
          alt="Voyage"
          title="Brand Image Voyage"
        />
      </a>
      <ul class="row">
        <li class="align-items-center d-flex">
          <a class="active" href="Travel-agency.html" title="Home">Home</a>
        </li>
        <li class="align-items-center d-flex">
          <a href="/about" title="About">About</a>
        </li>
        <li class="align-items-center d-flex">
          <a href="Travel-agency.html" title="Cruises">Cruises</a>
        </li>
        <li class="align-items-center d-flex">
          <a href="Travel-agency.html" title="Specials">Specials</a>
        </li>
        <li class="align-items-center d-flex">
          <a href="Travel-agency.html" title="Search">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
