<!DOCTYPE html>
<html lang="en">
  {% include "common/head.html" %}
  <body class="d-flex flex-column justify-content-between">
    {% include "common/header.html" %}
    <main>
      <section class="main-carousel">
        <img src="static/assets/main-slider.jpeg" />
      </section>
      <section class="searchSec">
        <input
          id="country"
          class="SearchInput"
          required="required"
          placeholder="Search..."
          name="search"
        />
        <button id="search" type="submit" class="btn">GO</button>
        <div id="spinner" style="display:none">
          <img id="img-spinner" src="/static/assets/spinner.gif" alt="loading" />
        </div>
      </section>

      <section id="results"></section>
    </main>

    {% include "common/footer.html" %}
    <!-- Content -->
  </body>
</html>
